@model VPS.Models.VehiclesImages

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VehiclesImages</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
           Picture:
        </dt>

        <dd>
            <img src=@Model.ImagePath alt="image" style="width:100px;" class="img-thumbnail" />
        </dd>

        <dt>
            Vehicle Rego:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicles.RegistrationNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehicleImageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
